*{
    padding: 0%;
    margin: 0%;

}

#pagina{
    width: 100%;
    height: 100vh; /* vh- viewport- sempre sera no height, vh para 100 do monitor*/
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /*para não amassar a imagem*/ 
}
    


main{
    width: 700px;
    height: 700px;
    background-color: white;
    /*box-shadow: rgb(209, 87, 168) 6px 6px;*/
    display: flex;
    overflow: hidden; /*para a imagem ficar de acordo com a forma da caixa do main*/
    flex-direction: column;
}

    


#banner{
    width: 100%; /*dividir o banner para um lado e o formulario para outro*/
    height: 100%;
    background-image: url(images/salario-familia.jpg);
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat; /*caso a imagem seja muito pequena e ela repetir, seleciona esta opção, isso é de acordo com a imagem*/

}
#formulario {
    width: 100%; /*dividir o banner para um lado e o formulario para outro*/
    height: 100%;
    display: flex;
    flex-direction: column;  /*esse comando esta invertendo os eixos(mas não era par fazer isso, um problema de atualização)*/ 
    align-items: center;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
form{
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-size: 12pt;
}

button{
    width: 200px;
    height: 50px;
    background-color: rgb(123, 211, 199);
    margin: 30px auto;
    border-radius: 5px;
    box-shadow: 10px 5px 5px grey;
}
th, td{  /*vai deixar as msm config no th e td*/
    border: 2px solid black;
}

table{ /*elemento pai do th td*/
    border-collapse: collapse; /*border cplapse vai juntar as linhas*/
    height: 200px;
    width: 400px;
    font-family: Arial, Helvetica, sans-serif;
}