*{
    padding: 0%;
    margin: 0%;
    /**/
    }
    
    header{
      
        width: 100%;
       
        height: 40px; 
        padding: 10px 0px;
        background-color: rgb(36, 36, 201);
    }

    
    
    
    #logo{
        width: 40px;
        height: 40px;
        margin: 0px 20px;
        background-color: black;
        border-radius: 40px; 
        overflow: hidden; 
        float: left; 
    
    
    }
    
    #logo img{
        width: 100%;
        height: 100%;
    
    }
    
    nav{
        
        width: auto;
        height: 40px;
        text-align: center;
        line-height: 40px;
        margin: 0px 20px;
        float: right 
       
    }
    
   
    a{
        text-decoration: none; 
        margin: 0px 6px; 
       
        color: white;
        padding: 0px 15px;
        border-radius: 10px;
    
    
    }

    #pagina{
        
        background-color: rgb(209, 202, 202);
        
        
        
    }
    
    main{
        width: 60%;
       background-color: white;
       padding: 40px;
       margin: 0 auto; 
       border-radius: 20px;
       
       font-family: arial;
    
    
    }
    
    h3{ 
        color: black;
        text-align: center;
        }
    
    #banner{
        width: 100%;
        height: 400px;
        margin: 10px 0;
       
        background-image: url(../images/banner\ \(1\).jpg); 
        background-position: center; 
        background-repeat: no-repeat; 
        
        
    
    }
       
    h2{
        color: black;
        margin: 20px;
        
    }
    
    footer{
        width: 100%;
        height: 40px;
        padding: 10px 0px;
        line-height: 40px;
        text-align: center;
        background-color: black ;
        
    }